*{
    margin: 0;
}
.container{
    background-color: rgb(115, 36, 36);
    width: 100vw;
    height: 100vh;
}
a{
    text-decoration: none;
    color: rgb(32, 3, 3);
}
input{
    outline:none;
}
input::-moz-placeholder{
    color: rgb(116, 51, 51);
}
input::-webkit-input-placeholder{
    color: rgb(116, 51, 51);
}

/* HEADER */
.header{
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: rgb(32, 3, 3);
}
.header p{
    color: rgb(226, 208, 208);
    font: calc(18px + 1vw) sans-serif;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
}

/* MAIN */
.main{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}
.mainText{
    user-select: none;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vh;
    color: rgb(226, 208, 208);
    font: calc(16px + 0.5vw) sans-serif;
    background-color: transparent;
    font-weight: 500;
    text-align: center;
}

.sendButton{
    margin-top: 3vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(130px + 10vw);
    height: calc(40px + 1.5vw);
    background-color: rgb(165, 117, 117);
    border-radius: 15px;
}
.mainButton p, .sendButton p{
    user-select: none;
    text-transform: uppercase;
    font: calc(16px + 1vw) sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: transparent;
    color: rgb(32, 3, 3);
}
.mainButton:hover, .sendButton:hover{
    transition: all 0.3s;
    background-color: rgb(165, 117, 117);
}
.mainButton:active, .sendButton:active{
    transition: all 0.05s;
    background-color: rgb(181, 136, 136);
    transform: scale(0.95);
}

.userScore{
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(130px + 10vw);
    height: calc(40px + 1.5vw);
    background-color: rgb(60, 11, 11);
    border-radius: 15px;
}
.userScore p{
    user-select: none;
    text-transform: uppercase;
    font: calc(16px + 1vw) sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: transparent;
    color: rgb(226, 208, 208);
}

/* FOOTER */
.footer{
    user-select: none;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: rgb(32, 3, 3);
}